@charset "UTF-8";
/* main_v1.css */
body {
  --color-gray1: #c4c4c4;
  --color-sample1: rgba(20, 100, 255, 0.15);
}

/* main_common.css */
/* design */
#wrap {
  width: 1440px;
  height: auto;
  padding-top: 100px;
}

/* #headBox ============================================================ */

.head_wrapper {
  position: fixed;
  z-index: 1000;
  top: 0; left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#headBox {
  position: relative;
  width: 100%; height: 100px;
  padding-top: 50px;
  box-sizing: content-box;
} /* headBox 상단의 공간을 만들기위해 */

#mid_header {
  width: 100%; height: 100px;
  padding: 20px 40px 20px 60px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);}

h1 {
  float: left;
  width: 193px; height: 64px;
  background-color: #333;}

h1 a {
  display: block;
  width: 100%;  height: 100%;
  color: #fff; text-align: center; line-height: 64px;}

.midheader_wrap {
  width: 1440px; height: 100px;  margin: auto;}

.mid_navigation {
  float: left;
  width: 530px;  height: 30px;
  margin: 30px 80px 0px 220px;}

.mid_navigation .gnb {width: auto;height: 100%;}

.gnb li {
  float: left;
  width: auto; height: 100%;
  margin-left: 20px;
  box-sizing: border-box;
  color: #444; text-align: center;}

.search_form_box {
  float: right;
  width: 300px;  height: 40px;
  margin-top: 15px; padding: 5px 8px;
  border: 1px solid #ddd; border-radius: 5px;
  background-color: #fff;}

.sch_inner_wrap {
  display: inline-block;
  height: 20px;
  margin: 0;
  width: 200px;
  height: 100%;
}

.sch_inner_wrap input {width: 240px; height: 30px;
background-color: transparent;}

fieldset {width: 100%; height: 100%;}


.sch_inner_btn_wrap {
  float: right;
  width: 28px;
  height: 28px;
  background-image: url(../../img/Search_icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: initial;
}




/* top_navigation -----------------------------------------------------*/

.top_nav_wrap {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: auto;
}

#top_navigation {
  /* 내용을 강제로 상단으로 끌어올림 ^^ 요롷게요~~ */
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 50px;
  padding: 10px 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: rgb(226, 226, 226);}

.support_unb {
  float: left; width: 430px; height: 30px;}

.support_area { width: 100%; height: 100%;}

.support_area li {
  float: left;
  width: auto; height: 100%;
  margin-right: 20px; box-sizing: border-box;
  text-align: center;  text-transform: uppercase; line-height: 30px;}

.user_nav { float: right; width: 310px; height: 30px;}

.user_area {width: 100%;height: 100%;}

.user_area li {  float: left;
width: auto; height: 100%; margin-left: 20px;
line-height: 30px; box-sizing: border-box; text-align: center;}



/* #loginBox ============================================================*/




#searchFormBox {
  width: 100%; height: auto; margin-top: -50px; }

.fit-prd-wrapper {width: 100%; height: 1600px;}
.content-question-wrap {width: 100%; height:100%;}
.fit-prd-wrapper .content-jfm-wrap { height: 100%; padding: 140px 225px 80px; background: #2071ab; }

.q_main_title {text-align: center; color: #fff; margin-bottom: 50px;}
.fit-prd-wrapper h2 {margin-bottom: 20px;font-size: 3rem;}
.fit-prd-wrapper p {text-align: center; font-size: 1.375rem; font-weight: 400;}






/* 컨텐츠 공통 */
.fit-prd-wrapper .content-question-wrap { z-index: 1; position: relative; text-align: center;  }
.fit-prd-wrapper .content-inner  { z-index: 2; position: relative; }
.fit-prd-wrapper .content-question-wrap .btn-wrap { margin-top: 50px; }
.fit-prd-wrapper .content-question-wrap .tt-desc { color: #fff; font-size: 15px; opacity: 0.7; line-height: 24px; }

.fit-prd-wrapper .fit-question-list .item ~ .item { margin-top: 15px; }

.fit-prd-wrapper .question-chk-wrap { padding-top: 49px; }
.fit-prd-wrapper .question-chk-wrap .q-no { text-transform: uppercase; color: #ffe400; font-size: 15px; font-weight: 700; }
.fit-prd-wrapper .question-chk-wrap .q-tit { margin-top: 4px; color: #fff; font-size: 24px; font-weight: 400; }

.fit-prd-wrapper .question-chk-wrap .chk-box-list { margin-top: 24px; font-size: 0; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list .q-item { display: inline-block; width: cal 
   margin-right: 10px; margin-bottom: 10px; font-size: 13px; vertical-align: top; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list .q-item:nth-child(3n) { margin-right: 0; }

.fit-prd-wrapper .question-chk-wrap .chk-box-list.n5 .q-item { width: calc( (100% - 40px) / 5 ); }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.n5 .q-item:nth-child(3n) { margin-right: 10px; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.n5 .q-item:nth-child(5n) { margin-right: 0; }

.fit-prd-wrapper .question-chk-wrap .q-chk-box { }
.fit-prd-wrapper .question-chk-wrap .q-chk-box input 
{ position:absolute; display:block; overflow:hidden; height:1px; width:1px; clip:rect(1px, 1px, 1px, 1px);}
.fit-prd-wrapper .question-chk-wrap .q-chk-box
 { position: relative; display: table; width: 100%; height: 74px; table-layout: fixed; }
.fit-prd-wrapper .question-chk-wrap .q-chk-box .box 
{ z-index: 2; position: relative; display: table-cell; width: 100%; vertical-align: middle; padding: 0 10px; }

.fit-prd-wrapper .question-chk-wrap .q-chk-box .box .text
 { z-index: 1;position: relative;display: block;overflow: hidden;max-height: 44px;color: #fff;
  font-size: 15px;line-height: 22px;white-space: normal;word-wrap: break-word;display: -webkit-box;
  -webkit-line-clamp: 2;-webkit-box-orient: vertical;}

.fit-prd-wrapper .question-chk-wrap .q-chk-box .box:after
 {
  z-index: 0;content:'';display: block;position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 74px;opacity: 0.2;
  border-radius: 12px;background: rgba(255,255,255,0.6);border: 2px solid #fff;box-shadow: none;
  transform: scale( 1, 1);-ms-transform: scale( 1, 1);animation: none;transition: opacity 0.6s, box-shadow 0.3s;}
.fit-prd-wrapper .question-chk-wrap .q-chk-box input:checked ~ .box:after {
  animation: boxView 0.3s forwards;-ms-animation: boxView 0.3s forwards;box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
  opacity: 1;background: #fff; transform-origin: 50.01%;-ms-transform-origin: 50.01%;}



/* 질문 체크박스 :: 성별 */
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender {width: 100%; height: 400px;}
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-item { width: 200px; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box { height: 200px; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box .box:after { width: 200px; height: 200px; border-radius: 120px; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box .box .text { position: relative; padding-top: 43px; max-height: none; }

.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box .box .text:before {
  content:''; top: ;left: 50%; position: absolute ;width: 100px;height: 100px ;display: block; 
  background: url("/img/user/css_sprites.png") no-repeat -16px -16px; margin-right: -16px;}

.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box .box .text.ico-qw:before {background-position:-16px -16px;}
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box input:checked ~ .box .text.ico-qw:before {background-position: -16px -16px;}
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box .box .text.ico-qm:before {background-position:-16px -16px;}
.fit-prd-wrapper .question-chk-wrap .chk-box-list.gender .q-chk-box input:checked ~ .box .text.ico-qm:before {background-position:-16px -16px;}


/* 질문 체크박스 :: 나이 */
.fit-prd-wrapper .question-chk-wrap .chk-box-list.age  { padding: 0 117px; }
.fit-prd-wrapper .question-chk-wrap .chk-box-list.age .q-chk-box .box .ico { display: inline-block; margin-left: 4px; vertical-align: -2px; }
.fit-prd-wrapper .question-chk-wrap .q-chk-box input:checked ~ .box .text { color: #333; font-weight: 700; }







/* #infoBox ============================================================ */
#infoBox {
  width: 100%; height: 623px;
  padding: 160px 90px;  }


.info_content_area_01 {
  float: left; width: 650px; height: 300px;
  margin-right: 39px; padding: 40px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #fff;}

.info_content_area_01 h3 {
  width: 100%; height: auto; margin-bottom: 20px;
  text-transform: uppercase; text-align: center;
  font-size: 1.125rem; font-weight: 400; color: #333;}

.cs_center {
  float: left; width: 300px; height: 100%; 
  margin: auto;
  text-align: center;
  background-color: #fff;}

.cs_center .cs_number {
  display: block;
  font-size: 2.25rem; font-weight: 700; color: #70A103;
  margin-bottom: 20px;}

.all_sub
  {width: 100%; height: auto; font-size: 18px; font-weight: 400;}
  .all_sub p {margin-bottom: 5px;}

.bank_account {
  float: left; width: 300px; height: 100%;
  margin: auto;
  text-align: center;}

.bank_account .bank_forme{
  display: block;
  width: 100%; height: 48px;
  margin-bottom: 20px; padding-top: 4px;
  font-size: 1.9rem; font-weight: 700; color: #70A103;}



.info_content_area_02 {
  position: relative;
  float: left;
  width: 277px; height: 300px;
  margin-right: 15px; padding: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.notice {
  width: 100%; height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
}

.info_con_part {
  width: 100%; height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

.info_btn {
  width: 160px;  height: 43px;
  margin: auto;
  color: #fff;
  font-size: 0.85rem;
  background-color: #333;
  text-align: center;
  line-height: 43px;
}

.info_btn a::after {
  content: "";
  display: inline-block; /*i태그는 인라인 요소이기 때문에 블록처리해야함*/
  width: 20px; height: 20px;
  transform: translateX(8px);
  vertical-align: middle;
  background-image: url("../../img/bi_box-arrow-up-right.svg");
  background-repeat: no-repeat;
}


.info_content_area_02 li {
  overflow: hidden;
  position: relative;
  width: 100%; height: auto;
  margin-top: 6px;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info_content_area_03 {
  position: relative;
  float: left;
  width: 277px;  height: 300px;
  padding: 30px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.faq {
  width: 100%;  height: 50px;
  font-size: 1.5rem; font-weight: 400;}

.info_content_area_03 li {
  width: 100%;
  height: auto;
  margin-top: 6px;
  position: relative;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* #footBox ============================================================*/

#footBox {
  width: 100%;
  height: 240px;
  background-color: #444;
}

.footbox_wrapper {
  width: 100%;
  height: 240px;
  padding: 40px;
  box-sizing: border-box;
}

.footbox_area_01 {
  float: left;
  /* padding: 40px; */
  padding-right: 0;
  width: 900px;
  height: 160px;
}

address {
  float: left;
  /* width: 100%; */
  height: auto;
  font-weight: 100;
  color: #fff;
}

.footbox_area_02 {
  /* float: left; */
  float: right;
  width: 400px;
  height: 160px;
  /* padding: 40px; */
  /* padding-left: 0; */
}

.membership_btn {
  /* width: 400px; */
  /* width: 100%; */
  height: 40px;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  background-color: #eee;
}

.membership_btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}

.membership_btn span {
  margin-left: 10px;
  font-size: 0.5rem;
  text-transform: uppercase;
}

.membership_btn span::before {
  content: "";
  display: inline-block;
  width: 36px;
  border-top: 1px solid #333;
  margin: 3px 6px;
}

.sns_btn {
  float: left;
  margin-top: 20px;
  margin-left: 200px;
  width: 180px;
  height: 50px;
}

.sns_btn ul {
  width: auto;
  height: 100%;
}

.sns_btn li {
  float: left;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.sns_btn li a {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 45px;
  border-radius: 100%;
  background-color: #fff;
}

.footbox_area_03 {
  /* float: left; */
  clear: both;
  width: calc(100% + 80px);
  margin-left: -40px;
  height: 40px;
  background-color: #555;
}

.foot_info {
  width: 750px;
  height: 40px;
  margin: auto;
}

.foot_info ul {
  width: 100%;
  height: 40px;
  padding: 0 100px;
  text-align: center;
}

.foot_info li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 10px;
  /* padding: 0 10px; */
}

.foot_info li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.85rem;
  line-height: 40px;
}


.foot_info li:after,
.foot_info li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -12px;
  width: 1px;
  height: 20%;
  transform: translateY(-50%);
  background-color: #fff9;
}

.foot_info li:last-child:after {
  display: none;
}
