// a_base.scss
/* a_base.css */


// @import url(); // css - css파일을 별도로 분리하여 참조하는 기능
// @import ; //scss - scss파일을 불러와서 css변환시 1개의 파일로 결합
// 변수 - $변수명 : 값
// 중첩 - #box{ >li{} }
// @mixin /  @include





 /* css 변수할당 */



// scss 변수 : 지정범위 내에서 선언
// color-variable
$white : #fff;
$p-green : #70A103;
$p-yellow : #FFD800;
$a-green : (#F6FFE4, #99C440);
$brown : #591902;
$blue : #0375CD;
$gray: (#F2F2F2, #B1B1B1, #505050); // list
$black: (#333333, #171717 ); // list


//dic(map)
$psuedoCode: (
  "hover": $p-green
  ); // dic(map)

// ---------------------------------------------------------

// common-layout
/* common-layout */
.container {position:relative; width:100%; height:100%; 
  max-width:1920px; margin:auto; background-color: rgba(255,255,255,0.1);}




// design
/* design */
#wrap {
  width:100%;  height:auto; min-height:800px;
  background-color: #ddd;}// #wrap


/* #headBox --------------------------------------------*/
// #headBox --------------------------------------------












/* #viewBox --------------------------------------------*/
// #viewBox --------------------------------------------












/* #serchPdBox------------------------------------------*/
// #serchPdBox------------------------------------------












/* #bestPdBox-------------------------------------------*/
// #bestPdBox-------------------------------------------












/* #brandAboutBox---------------------------------------*/
// #brandAboutBox---------------------------------------












/* #rivewPdBox------------------------------------------*/
// #rivewPdBox------------------------------------------












/* #infoBox---------------------------------------------*/
// #infoBox---------------------------------------------












/* #footBox---------------------------------------------*/
// #footBox---------------------------------------------











