@charset "UTF-8";

#wrap {width: 1600px; height:auto;  margin:auto; min-height: 600px;
background-color: #faa;}




/* #headBox------------------------------------------------------------- */
#headBox {width: 1600px; height: 150px; background-color: #ddd;}


/* #adViewBox------------------------------------------------------------- */

#adViewBox {width: 1600px; height: 750px; background-color: #444;}


/* #localNavBox------------------------------------------------------------- */

#localNavBox {
     width: 1600px; height: 250px; background-color: #333;
     margin-bottom: 50px;}


/* #popularContentBox ------------------------------------------------------------- */

#popularContentBox {width: 1600px; height: 600px; background-color: #ddd;}


/* #newContentBox------------------------------------------------------------- */


#newContentBox {width: 1600px; height: 900px; background-color: #444; 
    margin-bottom: 80px;}



/* #recommendedCottentBox------------------------------------------------------------- */

#recommendedCottentBox {width: 1600px; height: 600px; background-color: #ddd;
     margin-bottom: 80px;}



/* #communityBox------------------------------------------------------------- */

     
#communityBox {width: 1600px; height: 800px; background-color: #333;margin-bottom: 80px;}



/* #miniAdBox------------------------------------------------------------- */


#miniAdBox {width: 1600px; height: 400px; background-color: #ddd; margin-bottom: 80px;}



/* #footBox------------------------------------------------------------- */


#footBox {width: 1600px; height: 200px; background-color: #f04;}