@charset "UTF-8";
/* main_v1.css */
body {
  --color-gray1:#c4c4c4;
  --color-sample1:rgba(20, 100,255,0.15);
}

/* main_common.css */
/* design */
#wrap {
  width: 1440px; height:auto; padding-top: 100px;}


 /* #headBox */


  .head_wrapper {position:fixed;top:0;left:0;
    width:100%;border-bottom:1px solid #ddd; z-index:1000}
  
  .midheader_wrap {width: 1440px; height: 100px; margin: auto;
  }


    #headBox{width: 100%; height: 100px;
    position:relative;
    padding-top: 50px;
    box-sizing: content-box; /* headBox 상단의 공간을 만들기위해 */
}

    #mid_header {width: 100%; height: 100px;
      padding: 20px 40px 20px 60px;
      box-sizing: border-box;
      background-color: rgba(255, 255,2555,0.5);}

    h1 {
      float: left;
      width: 193px; height: 64px;
      background-color:#333;}

    h1 a {display: block;
      width: 100%; height: 100%;
      color: #fff;
     text-align: center; 
     line-height: 64px;}


    .mid_navigation {
      float: left;
      margin: 30px 20px 0px 300px ;
      width: 450px; height: 30px; 
    }
    
    .mid_navigation > .gnb {width: 100%; height: 100%; 
    } 
  
      .gnb li{
        float:left;
        margin-left: 20px;
        
        box-sizing: border-box;
        color: #444;
        text-align: center;}
  

      .serch_infobox input {
        float: right;
        width: 300px; height: 40px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #fff; }
  
  
    /* top_navigation -------------------------*/

    .top_nav_wrap {
      position: relative; margin: 0 auto;
      width: 1440px; height:auto; }

      #top_navigation {
        /* 내용을 강제로 상단으로 끌어올림 ^^ 요롷게요~~ */
        position:absolute; top: 0; left:0; 
        width: 100%; height: 50px;
        padding: 10px 70px;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        background-color: rgb(226, 226, 226);}
      
      .support_unb {
        float: left;
        width: 430px; height: 30px;}

      .support_area 
      {width: 100%; height: 100%;}

      .support_area li{
        float: left;
        width: auto; height: 100%;
        margin-right: 20px;
        line-height: 30px;
        box-sizing: border-box;
        text-align: center;}


      .user_unb {
        float:right;
        width: 310px; height: 30px;}
  
      .user_area {width: 100%; height: 100%;}
  
      .user_area li{
        width: auto; height: 100%;
        line-height: 30px;
        float:left;
        margin-left: 20px;
        box-sizing: border-box;
        text-align: center;}





/* #viewBox -----------------------------------*/
  #viewBox{position: relative;
  width: 100%; height: 640px;
  margin-top: -50px;
  background-color:#eee; overflow: hidden;}

  #viewBox img {position: relative;
    left: 50%; margin-left: -990px;
    width: 1980px; height: 100%;}

  .view_btn {position: absolute;
    top: 50%; left:0; z-index: 1000;
    width: 100%; height: auto;}

    .view_btn button {
      float:left;
      width: 80px; height: 100px;
      color: #fff;
      background-color: #444;}
    
  .view_btn .next {float: right; }

  


  /* .button {width: 40px; height: 40px; background-color: #fff;}

  .viewbtn .next {float:right}
  .viewbtn .prev {float:left}
 * 통상 쓰는 방식은 아님/





/* #serchPdBox -----------------------------------*/
#serchPdBox{width: 100%; height: 600px;
  background-color:#333;}




  .serch_pd_wrap > .search_title {width: 100%; height: auto;
  margin:40px auto;}
  .serch_pd_wrap h2 { text-align: center; color:#333; font-size:2rem;}

  .serch_pd_wrap h2 i {
    display: inline-block;
    margin: 0 5px;
  }


  .serch_pd_wrap {
  position: relative;
  top:-130px; z-index: 500;
  padding: 30px 90px;
  width: 1074px; height: 450px; margin: auto;
  background-color: #fff;}


  .serch_conbox {
    float: left;
    width: 180px; height: 240px;
    padding: 0; margin-right: 58px;
    border: 1px solid #999;
    background-color: #fff;}



   .serch_conbox:last-child {margin-right: 0;}


   
.serch_conbox .serch_thumbnail {
  float: left; 
  width: 100%; height: 190px;}

  
  .serch_thumbnail img {
    float: left;
    border-radius: 10%;
    width: 100%; height: 100%;}

  .serch_description { float: left;
    width: 100%; height: 140px;
  }

 .serch_description p { padding-top: 10px;
      font-size: 1.5em; text-align: center;}









/* #bestPdBox-------------------------------------- */
  #bestPdBox{width: 100%; height: 1000px;
    padding: 80px 0;
  background-color:#333;}
    
  .bset_pd_wrap {width: 1300px; height: 360px;
    margin: 0 auto;
  background-color: #333;}

  #bestPdBox > .best_title {width: 100%; height: auto;
  margin-bottom: 180px;}
  #bestPdBox .icon {width: 30px; height: 30px; margin: auto; margin-bottom: 10px; background-color: #fff;}
  #bestPdBox h2 { text-align: center; color:#fff; font-size:2.5rem;}
  #bestPdBox h2 i {
    display: block;  /*i태그는 인라인 요소이기 때문에 블록처리해야함*/
    width: 40px; height: 40px; margin: auto;
    background-color: #fff;
    background-image: url("../../img/best-pd-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  #bestPdBox h3 { text-align: center; color:#fff; font-size:2rem;}

    .best_conbox {
      float: left;
      width: 300px; height: 360px;
      padding: 10px; margin-right: 33px;
      background-color: #fff;}

    .best_conbox:last-child {margin-right: 0;}

  .best_conbox .thumbnail {
    float: left;
    width: 100%; height: 200px;
    background-color: #444;}

    .thumbnail img {
      float: left;
      width: 100%; height: 100%;}

    .description { float: left;
      width: 100%; height: 140px
    }

   .description p { padding-top: 10px;
        font-size: 1.5em;}




 





/* #brandAboutBox---------------------------------------- */
  #brandAboutBox{width: 100%; height: 800px;
  background-color:#ddd;}


 .brand_wrap {
    width: 1140px; height: 576px;
    margin: 90px auto;
    background-color: #444;}

.tab_title_area {
  /* float: left; */
  width: 100%; height: 72px;
  background-color: #ddd;}


.tab_title_area > ul {
  width: 100%; height: 100%;
  box-sizing: border-box;
  /* border-bottom: 1px solid #ddd; */
}

.tab_title_area li {
    float: left;
    width: 380px; height: 100%;
    box-sizing: border-box; padding: 0 20px;
    background-color: #fff;
    text-align: center; line-height: 72px;}


.tab_title_area li.action {border-bottom: 7px solid #567e00;}

.tab_title_area button {
  width: 100%; height: 100%;
  font-size: 1.25rem;
  font-weight: 700;}


.tab_content_area {width: 100%; height: 100%;}

.tab_content_area > div.action {display: block;}

  .tab_con_detail_01 {
    display: none;
    width: 100%; height: 100%;
    background-color: #333;}
  
  .tab_con_detail_02 {
    display: none;
    width: 100%; height: 100%;
    background-color: #040;}
  
  .tab_con_detail_03 {
    display: none;
    width: 100%; height: 100%;
    background-color: #040;}
  
  








 /* #rivewPdBox-----------------------------------------------------  */
  #rivewPdBox{width: 100%; height: 900px;
  background-color:#777; padding: 100px 0;}

  #rivewPdBox hgroup {width: 100%; height: auto;
  }
  #rivewPdBox h2 { text-align: center; color:#fff; font-size:2.5rem;}
  #rivewPdBox h3 { text-align: center; color:#fff; font-size:2rem;}

  #rivewPdBox h2 i {
    display: block;  /*i태그는 인라인 요소이기 때문에 블록처리해야함*/
    width: 40px; height: 40px; margin: auto;
    background-color: #fff;
    background-image: url("../../img/best-pd-1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }


  .revew_pd_wrap {width: 1300px; height: 420px;
    margin: auto;}

  .revew_conbox {
    position: relative;
    top:150px;
    margin-right: 32px;
    float: left;
    width: 300px; height: 100%;}

  .revew_conbox:last-child {margin-right: 0;}

    .revew_conbox img {
      float: left;
      background-color: #fff;
      width: 100%; height: 100%;}
  

  .revew_conbox a {
    position: absolute;
    bottom: 50px; left:50%;
    margin-left: -100px;
    z-index: 500;
    width: 200px; height: 60px;
    color: #fff; font-weight: 400;
    text-align: center; line-height: 60px;
    background-color: #444;
  }







/* #infoBox------------------------------------------------------ */
  #infoBox{width: 100%; height: 623px;
  padding: 160px 90px;
  background-color:#eee;} 


  .info_content_area_01 {
    float: left;
    margin-right: 39px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 650px; height: 300px;}

    .cs_center { float: left;
      margin-right: 28px;
      width: 300px; height: 100%;
    background-color: #fff;}

    .back_account {float: left;
      width: 322px; height: 100%;
      background-color: #dd0;}





  .info_content_area_02 {
    float: left;
    position: relative;
    margin-right: 15px;
    padding: 30px;
    width: 277px; height: 300px;
    border: 1px solid #ddd;
    background-color: #fff;}

  .notice {
    width: 100%; height:50px;
    font-size: 1.5rem;
    font-weight: 400;}

  .info_con_part {
    width: 100%; height:auto;
    padding-top:10px; padding-bottom: 20px;}
      
  .info_btn {  
      width: 160px; height: 43px;
      margin:auto;
      color: #fff; font-size: 0.85rem;
      background-color: #333;
      text-align: center; line-height: 43px;}

    .info_content_area_02 li {
      width: 100%; height: auto;
      margin-top: 6px;
      position: relative;
      font-size: 1rem;
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
   }


   


    
  .info_content_area_03 {
    float: left;
    position: relative;
    padding: 30px;
    width: 277px; height: 300px;
    border: 1px solid #ddd;
    background-color: #fff;}

    .faq {
      width: 100%; height:50px;
      font-size: 1.5rem;
      font-weight: 400;}
  

    .info_content_area_03 li
    { width: 100%; height: auto;
      margin-top: 6px;
      position: relative;
      font-size: 1rem;
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
   }


    



  /* #footBox---------------------------------------------- */


  #footBox{ width: 100%; height: 240px; background-color:#444;}

  .footbox_wrapper {width: 100%; height: 240px;} 

  .footbox_area_01 {float: left;
  padding: 40px;
  width: 960px; height: 200px;
}

  address {
    float:left;
    width: 960px; height: auto;
    font-weight: 100; color: #fff;}






  

  .footbox_area_02 {float: left;
    width: 480px; height: 200px;
    padding: 40px;}

    

    .membership_btn {
      width: 400px; height: 40px;
      padding: 10px 30px;
      margin: 0;
      background-color: #eee;}
    
    .membership_btn a {
      display: block;
      width: 100%; height: 100%;
      font-size: 0.9rem;}
      
    .membership_btn span {
      margin-left: 10px;
      font-size: 0.5rem;
      text-transform:uppercase;}
      
    .membership_btn span::before{
      content: '';
      display: inline-block;
      width: 36px;
      border-top: 1px solid #333;
      margin: 3px 6px;}
        

    .sns_btn {
      float: left;
      margin-top: 20px;
      margin-left: 200px;
      width: 180px; height: 50px;}
    
    .sns_btn ul {
      width: auto; height:100%;}
    
      .sns_btn li {
        float: left;
        margin-left: 10px;
        width: 50px; height: 50px;}
    
    .sns_btn li a {
      float: left;
      width: 100%; height: 100%;
      text-align: center;
      line-height: 45px;
      border-radius: 100%;
      background-color:#fff;}




.footbox_area_03 {float: left;
  width: 100%; height: 40px;
  background-color: #555;}

  .foot_info { 
    width: 750px; height: 40px;
    margin: auto;}

  .foot_info ul {width: 100%; height: 40px;
    padding:0 100px; text-align: center;}
  
    .foot_info li {
      position: relative;
      display:inline-block;
      width:auto; height: auto;
    margin:0 10px;}
  
    .foot_info li a {
      display: inline-block;
      width:100%; height: 100%;
      color: #fff;
      text-align: center; 
      font-size: 0.85rem;
      line-height: 40px;}
  
    .foot_info li:after,  
    .foot_info li::after {  
    content: "";
    display: block;
    position: absolute; top: 0; right: -40px; bottom:0; 
    width: 1px;
    height: 11px;
    margin: auto 30px;
    background-color: #e4e8eb;
  }
  .foot_info li:last-child:after{display:none;}
  




  /* --------------------------------------------------- */
  /*  */
  /**
   * ? 내용을 설명
   * ! 내용을 설명
   * TODO: 내용을 설명
  */